openapi: 3.0.3
info:
  title: WizzGift B2B API
  version: 1.1.0
  description: |
    WizzGift B2B API for:
    - Iframe Integration
    - Direct API Integration

    Authentication:
    - All endpoints require a Bearer token in the `Authorization` header:
      `Authorization: Bearer YOUR_API_KEY_HERE`

servers:
  - url: https://api2.wizzgift.com
    description: Production server

security:
  - bearerAuth: []

tags:
  - name: Iframe Integration
    description: Endpoints for iframe-based payment flows.
  - name: API Integration
    description: Endpoints for direct API / server-to-server integrations.

paths:
  ########################################
  # IFRAME INTEGRATION
  ########################################

  /iframeOrder/getDetails:
    post:
      tags:
        - Iframe Integration
      summary: Get iframe order details
      description: |
        Returns order details for iframe-based integration.

        The request body must contain a signed JWT issued by WizzGift.
      operationId: iframeGetDetails
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IframeGetDetailsRequest'
            example:
              jwt: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
      responses:
        '200':
          description: Iframe order details returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IframeOrderDetailsResponse'
              example:
                success: true
                data:
                  order_id: "IFR-123456"
                  product_slug: "paypal-gift-worldwide"
                  amount: 50
                  currency: "USD"
                  expires_at: "2025-01-01T12:00:00Z"
        '400':
          description: Invalid JWT or malformed request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Invalid JWT"
        '401':
          description: Missing or invalid authorization header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Missing Authorization header"

  /iframeOrder/doPayment:
    post:
      tags:
        - Iframe Integration
      summary: Initiate iframe payment
      description: |
        Initiates the payment flow for iframe integration.

        The request body must include:
        - `jwt`: Signed JWT token from WizzGift.
        - `callback_url`: Public URL where WizzGift will send a POST request with the payment result.
        - `meta_data`: Arbitrary JSON object. WizzGift will return this unchanged in the callback
          payload for your reference.

        WizzGift will later POST the payment result to `callback_url`.
      operationId: iframeDoPayment
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IframeDoPaymentRequest'
            example:
              jwt: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
              callback_url: "https://merchant.example.com/wizzgift/callback"
              meta_data:
                user_id: "12345"
                internal_order_id: "ORD-98765"
                source: "wizzgift_iframe"
      responses:
        '200':
          description: Payment successfully initiated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IframeDoPaymentResponse'
              example:
                success: true
                data:
                  status: "pending"
                  iframe_session_id: "IFR-SESSION-123456"
                  message: "Payment session created."
        '400':
          description: Invalid request (missing fields, invalid JWT, invalid callback URL, etc.).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "callback_url must be a valid HTTPS URL"
        '401':
          description: Missing or invalid authorization header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Missing Authorization header"

      # Documenting the callback that WizzGift will send to callback_url
      callbacks:
        paymentResult:
          '{$request.body#/callback_url}':
            post:
              summary: Payment result callback from WizzGift
              description: |
                WizzGift will POST the payment result to the `callback_url` you provided
                in `/iframeOrder/doPayment`.

                The payload includes `meta_data` exactly as you sent it, plus payment status
                and any additional fields defined by WizzGift.
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      $ref: '#/components/schemas/IframeCallbackPayload'
                    example:
                      success: true
                      status: "completed"
                      transaction_id: "TRX-123456"
                      product_slug: "paypal-gift-worldwide"
                      amount: 50
                      currency: "USD"
                      meta_data:
                        user_id: "12345"
                        internal_order_id: "ORD-98765"
                        source: "wizzgift_iframe"
              responses:
                '200':
                  description: Your server acknowledged receipt of the callback.
                  content:
                    application/json:
                      schema:
                        type: object
                        properties:
                          received:
                            type: boolean
                            example: true

  ########################################
  # API INTEGRATION (PRODUCTS, ETC.)
  ########################################

  /b2b/products:
    get:
      tags:
        - API Integration
      summary: List available products
      description: |
        Returns the list of all available WizzGift products.

        Requires a valid API key via Bearer token in the `Authorization` header.
      operationId: listProducts
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of products.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductsListResponse'
              examples:
                successExample:
                  summary: Successful products listing
                  value:
                    success: true
                    data:
                      - slug: paypal-gift-worldwide
                        name: Paypal Gift Card
                        description: >-
                          Buy PayPal gift cards online to send instant digital funds for
                          shopping, payments, and more. Perfect for easy, secure gifting
                          and global use with a PayPal account.
                        instruction: >-
                          Note : paypal have 4-7% internal charges depending on your country
                          account, usually funds should be available instantly but sometimes
                          it might take upto 24 hours or you need to claim it from paypal or email.
                        disclosure: >-
                          Note : paypal have 4-7% internal charges depending on your
                          country account
                        image: https://cdn.wizzgift.com/product/paypal-gift-worldwide.png
                        product_currency: USD
                        cost_currency: USD
                        brand_color: '#ffffff'
                        countries:
                          - US
                          - GB
                          - ..
                        blacklisted: []
                        categories:
                          - payments
                        rating: 4
                        skus:
                          - id: "1"
                            min: 5
                            max: 1000
                            minCost: 5.25
                            changeStep: 0.01
                            active: true
                        required_fields:
                          - name: paypal_email
                            type: email
                            description: Enter your paypal email
                        iframe_url: ""
                        digital_content: false
                        reviews:
                          - name: Barnaclezs
                            rating: 5
                            review: All good, received instantly
                          - name: Hippopotamusrd
                            rating: 5
                            review: Good
                          - name: Lungfishhp
                            rating: 2
                            review: >-
                              I gave an email that is not associated with the account. Is it
                              possible to fix this? My PayPal account email is
                              tanihovantan@gmail.com
                        popularity: 0
                      - slug: apple-gift-card-usa
                        name: Apple Gift Card USD
                        description: "<p>Apple Gift card is for all things Apple...</p>"
                        instruction: "<p>You can redeem the Apple gift card in two ways:</p>..."
                        image: https://cdn.wizzgift.com/product/apple-gift-card-usa.png
                        product_currency: USD
                        cost_currency: USD
                        brand_color: '#f3f3f6'
                        countries:
                          - US
                        blacklisted: []
                        categories:
                          - games
                          - entertainment
                        rating: 0
                        skus:
                          - id: "1"
                            min: 350
                            max: 350
                            minCost: 349.125
                            changeStep: 1
                            active: true
                        required_fields: []
                        iframe_url: ""
                        digital_content: true
                        popularity: 0
        '401':
          description: Missing or invalid authorization header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Missing Authorization header"

  /b2b/products/{slug}:
    get:
      tags:
        - API Integration
      summary: Get product details by slug
      description: |
        Returns detailed information for a single product identified by its slug.

        Requires a valid API key via Bearer token in the `Authorization` header.
      operationId: getProductBySlug
      security:
        - bearerAuth: []
      parameters:
        - name: slug
          in: path
          required: true
          description: Unique product identifier (slug).
          schema:
            type: string
            example: amazon-australia-egift-voucher
      responses:
        '200':
          description: Product details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponse'
              examples:
                successExample:
                  summary: Successful product lookup
                  value:
                    success: true
                    data:
                      slug: amazon-australia-egift-voucher
                      name: Amazon Australia eGift Voucher
                      description: |
                        <p>Amazon.com.au Gift Cards can be used to purchase millions of
                        items sold on Amazon.com.au today...</p>
                      instruction: "<p>How to Redeem:</p><ul><li>In your Amazon account...</li></ul>"
                      image: https://cdn.wizzgift.com/product/amazon-australia-egift-voucher.png
                      product_currency: AUD
                      cost_currency: AUD
                      brand_color: '#282e33'
                      countries:
                        - AU
                      blacklisted: []
                      categories:
                        - ecommerce
                      rating: 0
                      skus:
                        - id: "2"
                          min: 1
                          max: 5000
                          minCost: 1.02627
                          changeStep: 1
                          active: true
                      required_fields: []
                      iframe_url: ""
                      digital_content: false
                      popularity: 0
        '401':
          description: Missing or invalid authorization header.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Missing Authorization header"
        '404':
          description: Product not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Product not found"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ########################################
    # IFRAME INTEGRATION SCHEMAS
    ########################################
    IframeGetDetailsRequest:
      type: object
      properties:
        jwt:
          type: string
          description: Signed JWT token issued by WizzGift.
      required:
        - jwt

    IframeOrderDetailsResponse:
      type: object
      description: Generic container for iframe order details.
      properties:
        success:
          type: boolean
        data:
          type: object
          description: Order details required for iframe flow.
          additionalProperties: true
      required:
        - success
        - data

    IframeDoPaymentRequest:
      type: object
      properties:
        jwt:
          type: string
          description: Signed JWT token issued by WizzGift.
        callback_url:
          type: string
          format: uri
          description: |
            Public HTTPS URL where WizzGift will send a POST callback with payment result.
        meta_data:
          type: object
          description: |
            Arbitrary JSON object for merchant’s internal reference.

            This will be returned unchanged in the callback payload.
          additionalProperties: true
      required:
        - jwt
        - callback_url
        - meta_data

    IframeDoPaymentResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          description: Information about the created payment session.
          properties:
            status:
              type: string
              description: Current status of the payment session.
              example: pending
            iframe_session_id:
              type: string
              description: Identifier for this iframe payment session.
            message:
              type: string
              description: Optional human-readable message.
          additionalProperties: true
      required:
        - success
        - data

    IframeCallbackPayload:
      type: object
      description: Payload sent by WizzGift to the merchant's callback_url.
      properties:
        success:
          type: boolean
          description: Indicates whether the payment was successful end-to-end.
        status:
          type: string
          description: |
            Payment status (e.g., `pending`, `completed`, `failed`, `cancelled`).
        transaction_id:
          type: string
          description: Unique transaction identifier from WizzGift.
        product_slug:
          type: string
          description: Slug of the purchased product.
        amount:
          type: number
          format: float
          description: Paid amount (face value).
        currency:
          type: string
          description: Currency code (ISO 4217).
          example: USD
        meta_data:
          type: object
          description: |
            The same meta_data object you submitted in /iframeOrder/doPayment.
          additionalProperties: true
      additionalProperties: true
      required:
        - success
        - status
        - meta_data

    ########################################
    # API INTEGRATION SCHEMAS (PRODUCTS)
    ########################################
    ProductsListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Product'
      required:
        - success
        - data

    ProductResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/Product'
      required:
        - success
        - data

    Product:
      type: object
      properties:
        slug:
          type: string
          example: paypal-gift-worldwide
        name:
          type: string
          example: Paypal Gift Card
        description:
          type: string
          description: Long description of the product. May contain HTML.
        instruction:
          type: string
          description: Redemption or usage instructions. May contain HTML.
        disclosure:
          type: string
          nullable: true
        image:
          type: string
          format: uri
        product_currency:
          type: string
          example: USD
        cost_currency:
          type: string
          example: USD
        brand_color:
          type: string
          example: '#ffffff'
        countries:
          type: array
          items:
            type: string
            example: US
        blacklisted:
          type: array
          items:
            type: string
        categories:
          type: array
          items:
            type: string
            example: payments
        rating:
          type: number
          format: float
        skus:
          type: array
          items:
            $ref: '#/components/schemas/Sku'
        required_fields:
          type: array
          items:
            $ref: '#/components/schemas/RequiredField'
        iframe_url:
          type: string
        digital_content:
          type: boolean
        reviews:
          type: array
          items:
            $ref: '#/components/schemas/Review'
        popularity:
          type: number
          format: float
      required:
        - slug
        - name
        - description
        - image
        - product_currency
        - cost_currency
        - countries
        - blacklisted
        - categories
        - skus
        - required_fields
        - iframe_url
        - digital_content
        - popularity

    Sku:
      type: object
      properties:
        id:
          type: string
          example: "1"
        min:
          type: number
          format: float
        max:
          type: number
          format: float
        minCost:
          type: number
          format: float
        changeStep:
          type: number
          format: float
        active:
          type: boolean
      required:
        - id
        - min
        - max
        - minCost
        - changeStep
        - active

    RequiredField:
      type: object
      properties:
        name:
          type: string
          example: paypal_email
        type:
          type: string
          example: email
        description:
          type: string
          example: Enter your paypal email
      required:
        - name
        - type
        - description

    Review:
      type: object
      properties:
        name:
          type: string
        rating:
          type: number
          format: float
        review:
          type: string
      required:
        - name
        - rating
        - review

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          example: Missing Authorization header
      required:
        - error
